<!DOCTYPE html>
<html>
	<head>
		<title>Campground Reveiws</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/camp/stylesheets/app.css">
	</head>
	<body>
		<wrapper class="d-flex flex-column">	
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
				<div class="container nav-container">
		  			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    			<span class="navbar-toggler-icon"></span>
		  			</button>
		  			<a class="navbar-brand home-brand" href="/camp/campgrounds">
	    			<img src="/img/tent.png" width="35" height="35" class="d-inline-block align-top mr-1" alt="">
	    			<span class="site-name text-white">Campground Reviews</span>
	  				</a>

		  			<div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
		    			<ul class="navbar-nav mr-auto">
		      				<li class="nav-item mt-2 home-link">
		        				<a class="nav-link text-white" href="/camp/campgrounds">Campgrounds</a>
		      				</li>
		      				<li class="nav-item mt-2 home-link">
		        				<a class="nav-link text-white" href="/camp/campgrounds/new">Submit New</a>
		      				</li>
		    			</ul>
		    			<form class="form-inline my-2 my-lg-0">
		    				<% if(!currentUser) { %>
		    					<a class="btn btn-outline-info my-2 my-sm-0 mr-0" href="/camp/login">LogIn</a>
		      					<a class="btn btn-outline-success my-2 my-sm-0" href="/camp/register">SignUp</a>
		    				<% } else { %>
		    					<p class="my-2 mr-3 my-sm-0 text-white">Signed in as <a class="username text-white" href="/camp/users/<%= currentUser.id %>"><%= currentUser.username %><img class="avatar" src="<%= currentUser.avatar %>"></a></p>
		    					<a class="btn btn-outline-warning my-2 my-sm-0" href="/camp/logout">Logout</a>
		    				<% } %>
		    			</form>
		  			</div>
	  			</div>
			</nav>

			<div class="container flash">
				<% if (error && error.length > 0) { %>
					<div class="alert alert-danger text-center mb-3" role="alert">
		  				<strong>Oh snap!</strong> <%= error %>
					</div>
				<% } %>
				<% if (success && success.length > 0) { %>
					<div class="alert alert-success text-center mb-3" role="alert">
	  					<%= success %>
					</div>
				<% } %>
			</div>

			





























		

